# Supabase Project Configuration
VITE_SUPABASE_URL=https://your-supabase-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key

# Optional Configurations
VITE_HEAD_ADMIN_EMAILS=admin@thapar.edu
VITE_THAPAR_COLLEGE_ID=d8958a90-d06a-467e-818d-64277f84f5c3
